
<h1><%= @match.title %></h1>

<% @roleplays.each do |roleplay| %>
  <h3><%= roleplay.character.name %></h3>
  <p><%= roleplay.message %></p>
<% end %>

<%= form_for [@match, @roleplay] do |f| %>
  <div>
    <%= f.label "message" %><br>
    <%= f.text_field "message" %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>


