<h1>Roster</h1>

<table>
  <thead>
    <td>Name</td>
    <td>Age</td>
    <td>Height</td>
    <td>Weight</td>
    <td>Wrestling Style</td>
    <td>Finisher</td>
  </thead>

  <% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.age %></td>
    <td><%= character.height %></td>
    <td><%= character.weight %></td>
    <td><%= character.wrestling_style %></td>
    <td><%= character.finisher %></td>
  </tr>
  <% end %>
</table>

<h2 class="match_heading"><%= link_to "Create a Character", new_character_path %></h1>