<h1>Roster</h1>

<table>
  <thead>
    <td>Name</td>
    <td>Age</td>
    <td>Height</td>
    <td>Weight</td>
    <td>Wrestling Style</td>
    <td>Finisher</td>
  </thead>
</table>
<% @characters.each do |character| %>
  <p><%= character.name %> <%= character.age %> <%= character.height %> <%= character.weight %> <%= character.wrestling_style %> <%= character.finisher %></p>
<% end %>

<h2 class="match_heading"><%= link_to "Create a Character", new_character_path %></h1>