<!DOCTYPE html>
<html>
  <head>
    <title>STFU! - Smash Talk Federation Uncensored</title>
    <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/admin/nav' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
